*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
body{
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(143.87deg, #190422 21.1%, #190422 102.96%);
    padding: 17px 80px 100px;
}
header .right-block{
    display: flex;
    gap: 75px;
    align-items: center;
}
header .right-block .links{
    display: flex;
    gap: 59px;
}
header button{
    background: #BC8AFC;
    padding: 12px 28px;
    border-radius: 7px;
    border: 0px;
    font-size: 22px;
    font-weight: 500;
    line-height: 33px;
    color: #000;
}
header p {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}
header .burger-menu{
    display: none;
}
main .start{
    background: linear-gradient(143.87deg, #190422 21.1%, #190422 102.96%);
    padding: 17px 80px 196px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
main .start .left-part{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    max-width: 631px;
}
main .start .left-part h1{
    font-size: 80px;
    font-weight: 600;
    line-height: 96px;
    color: #FFFFFF;
}
main .start .left-part .left-paragraph{
    font-size: 20px;
    font-weight: 400;
    line-height: 31.6px;
    color: #FFFFFF;
    max-width: 650px;
}
main .start button{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 24px;
    border-radius: 7px;
    background: #BC8AFC;
}
main .start button p{
    color: #000;
    font-size: 22px;
    font-weight: 500;
    line-height: 33px;
}
main .counts{
    display: flex;
    padding: 49px 110px;
    width: 72%;
    margin: 0 auto;
    justify-content: space-around;
    border-radius: 16px;
    position: relative;
    background: #FFFFFF;
    bottom: 100px;
    box-shadow: 0px 2px 10px 0px #00000026;
}
main .counts h1{
    font-size: 48px;
    font-weight: 600;
    line-height: 72px;
}
main .counts span{
    color: #BC8AFC;
}
main .counts p{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}
main .counts .counts-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .about{
    margin-top: 50px;
    display: flex;
    gap: 174px;
    align-items: center;
    justify-content: center;
    padding:0px 80px 107px 147px;
}
main .right-block{
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 611px;
    align-items: flex-start;
}
main .right-block h2{
    font-size: 48px;
    font-weight: 600;
    line-height: 58.8px;
}
main .right-block p{
    font-size: 20px;
    font-weight: 400;
    line-height: 31.6px;
}
main .about button{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 24px;
    border-radius: 7px;
    background: #BC8AFC;
    border: 0px;
}
main .about button p{
    color: #000;
    font-size: 22px;
    font-weight: 500;
    line-height: 33px;
}
main .service{
    padding: 17px 40px 265px 40px;
    margin-top: 100px;
    background: linear-gradient(288.27deg, #FFFFFF 12.14%, #F2F6FF 145%);
}
main .service h2{
    font-size: 48px;
    font-weight: 600;
    line-height: 75.84px;
    margin-bottom: 40px;
}
main .service .grid{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 257px 244px;
    grid-column-gap: 173px ;
    grid-row-gap: 40px;
}
main .service .grid .grid-item h4{
    font-size: 20px;
    font-weight: 600;
    line-height: 31.6px;
    margin-bottom: 12px;
}
main .service .grid .grid-item{
    font-size: 20px;
    font-weight: 400;
    line-height: 31.6px;
}

main .service .grid .service-image {
    border-radius: 50%;
    background: #190422;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
main .mobile-app{
    padding: 107px 40px 151px 80px;
    padding-bottom: -100px;
    display: flex;
    position: relative;
    justify-content: space-between;
    background: linear-gradient(143.87deg, #190422 21.1%, #190422 102.96%);
    & h1{
        color: #fff;
        font-size: 48px;
        font-weight: 600;
        line-height: 62.64px;
        margin-bottom: 42px;
        
    }
}
main .mobile-app {

}
main .mobile-app .right-part{
    position: absolute;
    bottom: -7px;
    right: 80px;
}
main .mobile-app .btns{
    display: flex;
    gap: 38px;
}
main .mobile-app button:first-child{
    background: url(../images/google.svg) no-repeat;
    width: 205px;
    height: 65px;
    border-radius: 10px;
    border: 0px;
}
main .mobile-app button:last-child{
    background: url(../images/apple.svg) no-repeat;
    width: 204px;
    height: 60px;
    border-radius: 10px;
    border: 0px;
}
main .benefits{
    display: flex;
    padding: 80px 165px 110px;
    gap: 172px;
}
main .benefits .left-part img{
    max-width: 415px;
}
main .benefits .right-part{
    display: flex;
    flex-direction: column;
    gap: 16px;
    & h1{
        font-size: 48px;
        font-weight: 600;
        line-height: 62.64px;
    }
    & p{
        font-size: 20px;
        font-weight: 400;
        line-height: 31.6px;
    }
}
main .benefits .benefits-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 20px;
    font-weight: 400;
    line-height: 31.6px;
}
main .benefits .benefits-list .benefit-image{
    border: 1.2px solid #BC8AFC;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
main .benefits .benefits-list .benefits-item{
    display: flex;
    gap: 17px;
    align-items: center;
}
main .comments{
    background: linear-gradient(288.27deg, #FFFFFF 12.14%, #F2F6FF 145%);

    padding: 41px 104px 81px;
    & .title{
        text-align: center;
        margin-bottom: 40px;
        
    }
    & h3{
        font-size: 20px;
        font-weight: 600;
        line-height: 31.6px;
    }
}
main .comments .main-part{
    display: flex;
    gap: 45px;
    align-items: center;
    justify-content: center;
}
main .comments .main-part .arrow, main .comments .arrow{
    border-radius: 50%;
    display: flex;
    border: 2px solid #BC8AFC;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    & img{
        width: 12px;
    }
}
main .comments .main-part .right-arrow, main .comments .right-arrow{
    transform: scale(-1, 1)
}
main .comments .one-comment-block{
    display: none;
}
main .comments .main-part .comments-items{
    display: flex;
    gap:21px;
    & .item{
        background: #fff;
        padding: 24px 24px 34px;
        max-width: 522px;
        box-shadow: 0px 0px 12px 0px #00000033;
        border-radius: 28px;
        & .comment-text{
            font-size: 20px;
            font-weight: 400;
            line-height: 31.6px;
            margin-top: 16px;
        }
        & .author {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 24px;
            & .main-info .city{
                font-size: 20px;
                font-weight: 400;
                line-height: 31.6px;
            }
        }
        & .author .main-info{
            display: flex;
            align-items: center;
            gap: 24px;
        }
    }
}
footer{
    background: #190422;
    padding: 72px 80px;
    margin-bottom: 10px;
}
footer .logo{
    margin-bottom: 26px;
}
footer .footer-list{
    display: flex;
    gap: 33px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 41px;
    color: #fff;
}
footer .socials{
    display: flex;
    gap: 21px;
}
@media (max-width: 1200px) {
    header .burger-menu{
        display: block;
    }
    header .right-block{
        display: none;
    }
    main .start{
        padding-bottom: 150px;
    }
    main .start .cards{
        width: 429px;
    }
    main .start .left-part h1{
        font-size: 48px;
        line-height: 57.6px;
    }
    main .counts{
        padding: 40px
    }
    main .about{
        padding: 0px 105px 45px 147px;
        margin: 0;
        gap: 71px;
        & h2 {
            font-size: 32px;
            line-height: 39.2px;
        }
    }
    main .about .director{
        width: 268px;
    }
    main .service{
        padding-bottom: 129px;
    }
    main .service .grid{
        grid-column-gap: 20px;
        grid-row-gap: 40px;
    }
    main .benefits{
        padding: 40px 40px 40px 89px;
        gap: 71px;
    }
    main .benefits .left-part img{
        width: 267px;
        padding-top: 36px;      
    }
    main .benefits .right-part{
        width: 60%;
    }
    footer{
        padding: 72px 40px 61px;
    }
    footer .logo{
        margin-bottom: 32px;
        & img{
            width: 105px;
        }
    }
    footer .footer-list{
        flex-direction: column;
        margin-bottom: 61px;
    }
}
@media (max-width:1260px) {
    main .comments{
        padding: 40px 137px 50px;
    }
    main .comments .item:last-child{
        display: none;
    }
    main .comments .one-comment-block{
        margin-top: 47px;
        display: flex;
        gap: 104px;
        justify-content: center;
    }
    main .comments .main-part .arrow-none{
        display: none;
    }
}
@media (max-width: 1360px) {
    main .mobile-app {
        padding: 56px 0px 33px 39px;
        & h1 {
            font-size: 32px;
        }
    }
    main .mobile-app img{
        width: 273px;
        height: 402px;
    }
    main .mobile-app .left-part{
        width: 50%;
    }
}
@media (max-width: 760px) {
    main .start{
        display: block;
    }
}
@media (max-width: 680px) {
    
    header{
        padding: 19px 16px 65px;
    }
    main .start{
        padding: 0px 16px 123px;
        & .left-part{
            gap: 24px;
        }
        & .cards {
            width: 354px;
            margin-top: 11px;
            margin-bottom: 40px;
        }
    }
    main .counts {
        flex-direction: column;
        padding: 32px;
        padding: 32px 69px;
        gap: 32px;
        width: 219px;
        margin: 0 auto;
        bottom: 50px;
        
        & h1{
            padding: 0;
        }
    }
    main .about{
        flex-direction: column;
        padding: 0;
        justify-content: center;
        padding-right: 17px;
        padding-left: 17px;
        padding-bottom: 40px;
        gap: 55px;
    }
    main .service{
        margin: 0;
        padding: 32px 17px;
        & h2{
            font-size: 36px;
            font-weight: 600;
            line-height: 56.88px;
            margin-bottom: 24px;
        }
        & .grid{
            grid-template-columns: 355px;
            grid-template-rows: 302px 302px 302px 302px;
            grid-row-gap: 24px;
        }
    }
    main .about h2{
        font-size: 36px;
        font-weight: 600;
        line-height: 44.1px;
    }
    main .about .right-block{
        gap: 24px;
    }
    main .mobile-app{
        display: block;
        padding: 24px 16px 0px ;
        & .right-part{
            position: static;
        }
        & .left-part{
            width: auto;
        }
        & .btns{
            flex-direction: row-reverse;
            justify-content: start;
            gap: 8px;
            & button{
                background-position: center;
            }
        }
    }
    main .benefits{
        flex-direction: column;
        padding: 40px 18px 23px;
        & .left-part{
            display: none;
        }
        & .right-part{
            width: auto;
        }
        & h1{
            font-size: 36px;
            font-weight: 600;
            line-height: 46.98px;
        }
    }
    main .comments{
        padding: 32px 17px 46px;
        text-align: left;
        & .title{
            text-align: left;
        }
    }
    main .comments .main-part .comments-items .item{
        padding: 24px 24px 12px;
    }
    main .comments .main-part .comments-items .item .author{
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 24px;
    }
    main .comments .one-comment-block{
        margin-top: 24px;
    }
    footer{
        padding: 32px 15px 63px;
        margin-bottom: 206px;
    }
}
